#doses {
  // display: flex;
  .nested-fields {
    display:flex;
  }
}

.remove_fields{
  color: white;
  padding: 5px;

  height: 40px;
  width: 110px;

  &:hover {
    text-decoration: none;
    color: rgb(143, 114, 101);
  }
}

.add_fields{
  color: white;
  padding: 5px;
  height: 40px;
  width: 110px;
  &:hover {
    text-decoration: none;
    color: rgb(143, 114, 101);
  }
}

.form-control:valid {
  background-color: $smoky-black !important;
}

.search-form form{
  display: flex;
  align-items: center;
}

.search-input{
  padding: 6px 12px;
  margin: 0;
  border: 1px solid #6c757d;
  background-color: transparent;
}


// Dropzone Styling
.dropzone {
  border: 2px dashed $harvest-gold  !important;
  border-radius: 15px !important;
  background-color: rgb(189, 189, 189) !important;
  color: $smoky-black !important;
  text-align: center !important;

  &:dz-drag-hover {
    border: 2px dashed $harvest-gold !important;
    border-radius: 15px !important;
    background-color: rgb(131, 131, 131) !important;
    color: $smoky-black !important;

    .dz-message {
      opacity: 0.9 !important;
    }
  }
}

.dz-image-preview {
  background-color: transparent  !important;
}
a.dz-remove {
  color: white !important;
}

.dz-error-message {
  color: white !important;
}
.dropzone .dz-preview .dz-error-message {
  color: white  !important;
}
