.modal-content {
  // background-color: rgba(0,0,0,0.8);
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 10px;

}

.form-control {
  background-color: #6464644a;
  border: 1px solid rgba(255,255,255,0.4);
}

.form-control:valid {
  background-color:  #6464644a!important;
  border: 1px solid rgba(255,255,255,0.4);
  color: white;
}

.modal-title {
  font-family: $body-font;
}

.modal-header {
  border-radius: 10px 10px 0 0;
  border: none;
}